{
  "openapi": "3.1.0",
  "info": {"title": "Website Intelligence APIs", "version": "1.0.0", "description": "10 powerful website analysis APIs in one bundle: Website to Markdown, Metadata, Technology Detector, Contact Extractor, AI Website Summary, OpenGraph Extractor, Robots.txt Parser, Sitemap Parser, SSL Checker, DNS Lookup"},
  "servers": [{"url": "https://website-intelligence-apis.rapidapi.com", "description": "RapidAPI production server"}],
  "paths": {
    "/health": {"get": {"tags": ["System"], "summary": "Health check", "responses": {"200": {"description": "Service is healthy"}}}},
    "/api/v1/website-to-markdown": {"post": {"tags": ["Website to Markdown"], "summary": "Convert any web page to clean Markdown", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "format": "uri", "example": "https://example.com"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "Markdown content"}}}},
    "/api/v1/website-metadata": {"post": {"tags": ["Website Metadata"], "summary": "Extract comprehensive website metadata", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "format": "uri"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "Metadata, headings, images, links, contacts"}}}},
    "/api/v1/technology-detector": {"post": {"tags": ["Technology Detector"], "summary": "Detect CMS, frameworks, analytics, CDN", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "format": "uri"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "Detected technologies"}}}},
    "/api/v1/contact-extractor": {"post": {"tags": ["Contact Extractor"], "summary": "Extract emails, phones, social links, addresses", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string"}, "deep_crawl": {"type": "boolean"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "Extracted contacts"}}}},
    "/api/v1/ai-website-summary": {"post": {"tags": ["AI Website Summary"], "summary": "Generate AI-powered website summary", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string"}, "use_ai": {"type": "boolean"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "Website summary"}}}},
    "/api/v1/opengraph-extractor": {"post": {"tags": ["OpenGraph Extractor"], "summary": "Extract Open Graph and Twitter Card tags", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "format": "uri"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "OpenGraph data with preview analysis"}}}},
    "/api/v1/robots-txt-parser": {"post": {"tags": ["Robots.txt Parser"], "summary": "Fetch and parse robots.txt", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "format": "uri"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "Robots.txt rules and sitemaps"}}}},
    "/api/v1/sitemap-parser": {"post": {"tags": ["Sitemap Parser"], "summary": "Discover and parse XML sitemaps", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "format": "uri"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "Sitemap URLs with analysis"}}}},
    "/api/v1/ssl-checker": {"post": {"tags": ["SSL Checker"], "summary": "Check SSL certificate", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["domain"], "properties": {"domain": {"type": "string", "example": "example.com"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "SSL certificate details"}}}, "get": {"tags": ["SSL Checker"], "summary": "Check SSL certificate (GET)", "parameters": [{"name": "domain", "in": "query", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "SSL details"}}}},
    "/api/v1/dns-lookup": {"post": {"tags": ["DNS Lookup"], "summary": "Comprehensive DNS lookup", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}, "description": "Bearer API key"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["domain"], "properties": {"domain": {"type": "string"}, "proxy": {"type": "string"}}}}}}, "responses": {"200": {"description": "DNS records"}}}, "get": {"tags": ["DNS Lookup"], "summary": "DNS lookup (GET)", "parameters": [{"name": "domain", "in": "query", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "DNS records"}}}}}
}
